if SHIELD_AKAB_LEFT
 
config ZMK_KEYBOARD_NAME
    default "Akab"
 
config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif
 
if SHIELD_AKAB_LEFT || SHIELD_AKAB_RIGHT
 
config ZMK_SPLIT
    default y

endif